node_modules

/build
/public/build
.env

/cypress/screenshots
/cypress/videos
/prisma/data.db
/prisma/data.db-journal
/prisma/dev.db
/prisma/db.sqlite
/app/styles/tailwind.css
/test-results/
/playwright-report/
/playwright/.cache/
